.sections__button
{
	height: 25px;
	font-size: 13px;
	background-color: #444;
	color: white;
	border: none;
	margin-left: 14px;
	outline: none;
	cursor: pointer;
}

.sections__button:before
{
	position: absolute;
	content: '';
	width: 25px;
	height: 25px;
	transform: translate(-18.5px, -4px) scale(.7) rotate(45deg);
	background-color: #444;
	z-index: -1;
}
