.sections__button
{
	height: 25px;
	font-size: 13px;
	background-color: #444;
	color: white;
	border: none;
}

.sections__button:before
{
	position: absolute;
	content: '';
	width: 17.4px;
	height: 17.4px;
	transform: rotate(45deg);
	margin-left: -15px;
	background-color: #444;
	z-index: -1;
}
