.photoslider__leftarrow
{
	width: 64px;
	height: 64px;
	background-image: url(../arrow.svg);
	background-size: cover;
	transform: rotate(180deg);
	opacity: 0.2;

	cursor: pointer;
	transition: all 0.1s ease;
}

.photoslider__leftarrow:hover
{
	transform: rotate(180deg) scale(1.25);
}
